.formContainer {
    width: 100%;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formItem {
    display: flex;
    flex-direction: column;
}

.formItem:not(:first-child) {
    margin-top: 15px;
}

.formItem input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.formItem input:active,
.formItem input:focus {
    border: none;
    border-bottom: 2px solid black;
}
