.formContainer {
    width: 50%;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.formContainer input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.formContainer input:active,
.formContainer input:focus {
    border: none;
    border-bottom: 2px solid black;
}
