.homePageContainer {
    width: 100%;
}

/* Banner Section----------------------------------- */

/* .bannerSection {
    position: relative;
} */

.banner {
    position: relative;
    width: 100%;
}

.bannerInner {
    position: absolute;
    top: 80px;
    left: 30px;
    opacity: 0.85;
    width: 400px;
    height: 200px;
    z-index: 10;
}

.bannerInnerContent {
    position: absolute;
    top: 156px;
    left: 41px;
    width: 400px;
}

.bannerInnerContent h2 {
    color: #43234c;
    font-weight: 600;
    font-size: 54px;
    line-height: 68px;
    text-align: center;
}
.bannerInnerContent p {
    color: #43234c;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}

.bannerInner svg {
    width: 120%;
    z-index: -1;
}

.bannerImg {
    width: 100%;
    height: 750px;
    object-fit: none;
}

/* Products Section ----------------------------------- */

.productsSection {
    background-color: white;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.productsSectionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    max-width: 1280px;
}

.productsTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    padding-top: 50px;
    text-align: center;
}

.productsTextContent h3 {
    font-weight: 500;
    font-size: 54px;
    line-height: 68px;
}

.productsTextContent p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.viewMoreLink {
    position: relative;
    width: max-content;
    font-family: var(--nav-link-font);
    font-size: 20px;
    font-weight: 600;
    color: var(--nav-link-color);
    text-transform: uppercase;
    margin-top: 40px;
    transition: color 0.3s;
}

.viewMoreLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--link-color);
}

.viewMoreLink:hover {
    color: var(--link-hover-color);
}

/* Events Section ----------------------------------- */

.eventsSection {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: palevioletred;
}

.eventsSectionContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    max-width: 1280px;
}

.eventsTextContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.eventsTextContent h3 {
    font-weight: 500;
    font-size: 54px;
    line-height: 68px;
}

.eventsTextContent p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
