@import "./reset.css";
@import "./variables.css";
@import "./typography.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--h-font-family);
    color: var(--h-font-color);
}

p {
    font-family: var(--p-font-family);
    color: var(--p-default-font-color);
}

a {
    /* font-family: "Poppins"; */
    text-decoration: none;
    color: black;
}
