@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Playfair";
    src: url("../fonts/PlayfairDisplay-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
